.backImage{

    background-image: url("woman.JPG");
    margin: 0px;
    padding: 100px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-weight: 1000;
    font-size: 130px;
    margin-left: 10px;
    padding-top: 80px;
    color: black;
}

.subtitle {
    
    font-family: "Arial";
    font-weight: 500;
    font-size: 80px;
    margin-left: 10px;
}

.sentence {
   
    font-family: "Arial";
    font-size: 40px;
    margin-left: 10px;
}

.rectangle {
    display: block;
    width: 1200px;
    height: 250px;
    background: #7ECCCB;
    margin-left: 210px;
    margin-right: 600px;
  }

  .rectangle2 {
      display: block;
      width: 1200px;
      height: 250px;
      background: #30C2C0;
      margin-left: 210px;
      margin-right: 600px;
  }

  .rectangle3 {
    display: block;
    width: 1200px;
    height: 250px;
    background: #0D9A98;
    margin-left: 210px;
    margin-right: 600px;
  }


